// ---------------------------------------------------  //
// This file contains all application-wide Sass mixins. //
// ---------------------------------------------------- //

@use './variables';

@mixin text-preset-1 {
	color: variables.$Slate-900;
	font-family: 'Red Hat Display';
	font-size: 6.4rem;
	font-style: normal;
	font-weight: 900;
	line-height: 110%; /* 70.4px */
}

@mixin text-preset-1-1 {
	color: variables.$Slate-900;
	font-family: 'Red Hat Display';
	font-size: 4.8rem;
	font-style: normal;
	font-weight: 900;
	line-height: 110%; /* 70.4px */
}

@mixin text-preset-2 {
	color: variables.$Slate-900;
	font-family: 'Red Hat Display';
	font-size: 4rem;
	font-style: normal;
	font-weight: 900;
	line-height: 110%; /* 44px */
}

@mixin text-preset-3 {
	color: variables.$Cyan-600;
	font-family: 'Red Hat Display';
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 900;
	line-height: 110%; /* 17.6px */
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

@mixin text-preset-4 {
	color: variables.$Slate-900;
	font-family: 'Red Hat Display';
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 27px */
}

@mixin text-preset-4-1 {
	color: variables.$Slate-600;
	font-family: 'Red Hat Display';
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 27px */
}

@mixin text-preset-4-2 {
	color: variables.$Slate-600;
	font-family: 'Red Hat Display';
	font-size: 1.8rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 27px */
}

@mixin text-preset-5 {
	color: variables.$Slate-900;
	font-family: 'Red Hat Display';
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 900;
	line-height: 150%; /* 24px */
}

@mixin big-device {
	@media (min-width: variables.$breakpoint-desktop-min) {
		@content;
	}
}

@mixin medium-device-max {
	@media (max-width: variables.$breakpoint-tablet-max) {
		@content;
	}
}

@mixin medium-device {
	@media (min-width: variables.$breakpoint-tablet-min) and (max-width: variables.$breakpoint-tablet-max) {
		@content;
	}
}

@mixin medium-device-min {
	@media (min-width: variables.$breakpoint-tablet-min) {
		@content;
	}
}

@mixin small-device {
	@media (max-width: variables.$breakpoint-mobile-max) {
		@content;
	}
}
