// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Design system variables

/// Colors
$Cyan-600: #4d96a9;
$Cyan-300: #8fe3f9;

$Purple-600: #855fb1;
$Purple-300: #d9b8ff;

$Slate-900: #28283d;
$Slate-600: #87879d;
$Slate-300: #d1d1df;
$Slate-300: #d1d1df;

$White: #fafafa;

/// Spacings
$spacing-1400: 11.2rem;
$spacing-1000: 8rem;
$spacing-900: 7.2rem;
$spacing-800: 6.4rem;
$spacing-700: 5.6rem;
$spacing-500: 4rem;
$spacing-400: 3.2rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-100: 0.8rem;
$spacing-50: 0.4rem;

/// Breakpoints
$breakpoint-desktop-min: 1025px;
$breakpoint-tablet-max: 1024px;
$breakpoint-tablet-min: 641px;
$breakpoint-mobile-max: 640px;
